#bruh {
 background-color: grey ;
 width: 25%;
 height: 100%;
}

#bruv {
background-color: grey ;
width: 25%;
 height: 100%;
}

#fam {
	background-color: grey;
	width: 25%;
 height: 100%;
}

#broke {
	background-color: grey;
		width: 25%;
 height: 100%;
}

#broke,#fam,#bruv,#bruh {
	float: left;
}

#troll{
	width: 9000%;
	margin-left: auto;
	margin-right: auto;
}
